@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-VariableFont_wght.ttf) format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0C0B0B;
    color: white;
    font-family: "Oswald";
    overflow-x: hidden;
}
h1 {

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a { 
    color: white;
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
}
.default-container{
    max-width: 1716px;
    margin: auto;
}
header{
    background-color: chartreuse;
}

header .header-nav{
    display: flex;
    height: 56px;
    position: relative;
}
header .header-nav ul{
    display: flex;
    align-items: center;
}
.header-nav-elems{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

ul .second-menu>li>a{
    padding: 0 0 0 17px;
}
ul.second-menu>li:last-child{
    margin: 0 0 0 17px;
}
ul.second-menu>li:last-child>a{
    border: solid 1px white;
    width: 80px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
 ul.second-menu>li:nth-last-child(2){
     margin: 100px;
 }
 ul.second-menu>li:first-child>a{
     margin-right: 10px;
 }
 ul.second-menu>li:first-child>a::after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #FF3C00;
    border-radius: 50%;
    left: 64px;
    top: 14px;
 }

 .footer-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(181px, 1fr));
    grid-auto-rows: auto;
    gap:20px;
 }
 .f-item p{
     color: #6A6A6A;
     font-size: 18px;
 }